<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10593468501-mnkbb6afhdrvrnoh5523ns2iddd7h50a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10593468501-mnkbb6afhdrvrnoh5523ns2iddd7h50a</string>
	<key>API_KEY</key>
	<string>AIzaSyCYdV7Fp8B2m5Gakn5N31vhZWllRZ_5_is</string>
	<key>GCM_SENDER_ID</key>
	<string>10593468501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.popperMobile</string>
	<key>PROJECT_ID</key>
	<string>rem-workshop-system</string>
	<key>STORAGE_BUCKET</key>
	<string>rem-workshop-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10593468501:ios:4ce5c500cbc866843d54dc</string>
</dict>
</plist>